/*-------------------------------------------*\
   index.css
 
   Index
   - VARIABLES GLOBALS & VARIABLES FONTS    - Definim les variables que anem a utilitzar al fitxer i les fonts de la plantilla.
   - PROPIETATS ESTRUCTURA                  - Definim com s'estructurarà el cos de la pàgina.
   - PROPIETATS DEL HEADER                  - Estils per al menú.
   - PROPIETATS DEL BODY                    - Propietats d'on es mostrarà l'informació .
   - PROPIETATS DEL FOOTER                  - Estils del peu de la pàgina
   - PROPIETATS DEL FORMULARI DE CONTACTE   - Definim la vista del formulari
   - PROPIETATS DEL BANNER                  - Propietats del banner que podem reutilitzar a les distintes vistes. (Actualment sols està a 'news.html').
   - PROPIETATS DE LES NOTICIES             - Estils llistat de noticies.
   - PROPIETATS DELS DETALLS D'UNA NOTICIA  - Definim l'estètica d'una noticia.
   - MEDIA QUERIES                          - Media Queries per fer la pàgina 'responsive'.
   - PROPIETATS DELS RANKINGS               - Estils per a les taules i la disposició d'aquestes.
\*-------------------------------------------*/


/*  ***************** VARIABLES GLOBALS & VARIABLES FONTS ******************* */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

:root {
  --p100: 100%;
  --color-1: white;
  --color-2: rgb(224, 243, 161);
  --color-3: #1C140D;
  --color-4: #F2E9E1;
  --color-5: #CBE86B;
  --gradient: linear-gradient(to bottom right, var(--color-5), var(--color-2));
  --gradient-2: linear-gradient(to top left, var(--color-3), var(--color-1));
  --font-link: 'Merriweather Sans', sans-serif;
  --fb-image: url(../images/footer/fb.png) no-repeat left;
  --tw-image: url(../images/footer/tw.png) no-repeat left;
  --ig-image: url(../images/footer/ig.png) no-repeat left;
  --image-size: 25px;
  --image-padding-left: 30px;
  --image1: url(../images/options/like.png);
  --image2: url(../images/options/comment.png);
  --sprite: url(../images/options/sprite.png);
  --no-repeat: no-repeat;
  --center: center;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(../Oswald-Regular.ttf);
}


/*  ***************** PROPIETATS ESTRUCTURA ******************* */
body {
  display:grid;
  grid-template-areas:"head"
                      "body"
                      "foot";
  font-family: var(--font-link);
  font-size: 18px;
  font-weight: bold;
  grid-template-rows: auto 1fr auto;
  background-image: url("../images/background/bg3-min.jpg");
  /* background-repeat: no-repeat; */
}


/*  ***************** PROPIETATS DEL HEADER ******************* */
.header {
  grid-area:head;
  font-family: myFirstFont; 
  margin: auto;
  max-width: var(--p100);
  width: var(--p100);
  box-shadow: 5px -5px 10px 10px var(--color-4);
  background-image: var(--gradient);
}

.header__checkbox,.header__toggle {
  display: none;
}

.header__menu {
  padding: 0;
  margin: 0;
  max-width: var(--p100);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: var(--center);
  list-style-type: none;
}

.header__menu > li:nth-child(2n+1) {
  padding: 1em;
  background-color: var(--color-4);
}

.menu__link {
  padding: 1em;
  font-size: 14px;
  color: var(--color-3);
  text-decoration:none;
  text-transform:uppercase;
  transition:0.7s;
}

.menu__link:hover {
  color: var(--color-3);
  text-decoration: underline;
  font-size: 20px;
}


/*  ***************** PROPIETATS DEL BODY ******************* */
.container {
  grid-area:body;
  margin-bottom: auto;
}

.container--form {
  max-width: var(--p100);
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.container__name {
  color: var(--color-3);
  background: var(--color-5);
  text-align: left;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}


/*  ***************** PROPIETATS DEL FOOTER ******************* */
.footer {
  grid-area: foot;
  font-family: myFirstFont;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 5px 5px 10px 5px lightgray;
  background-image: var(--gradient);
  bottom: 0;
  width: var(--p100);
}

[class^="social"] {
  font-size: 14px;
}

[class*='fb'] {
  background: var(--fb-image);
  background-size: var(--image-size);
  padding-left: var(--image-padding-left);
}

[class*='tw'] {
  background: var(--tw-image);
  background-size: var(--image-size);
  padding-left: var(--image-padding-left);
}

[class*='ig'] {
  background: var(--ig-image);
  background-size: var(--image-size);
  padding-left: var(--image-padding-left);
}


/*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
.container__module {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container__module > * {
  padding: 2em;
}

/* ------------------- 
INFORMACIO 
------------------- */
.module__info {
  background: var(--color-5);
  text-align: left;
}

.info__data {
  list-style: none;
  padding: 0;
}

/* ---- 
FORMULARI 
---- */
.container__form {
  display: grid;
  background: var(--color-2);
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form__field {
  margin: 0;
}

.field__label {
  display: block;
}

.form__field--full {
  grid-column: 1 / 3;
}

.field__input {
  width: var(--p100);
  padding: 1em;
  border: solid 1px var(--color-3);
  border-radius: 4px;
}

.field__input--button {
  width: 20%;
  background: var(--color-3);
  border: 0;
  margin-top: 2em;
  color: var(--color-4);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.field__input--button:hover {
  border: 1px solid var(--color-3);
  background: var(--color-5);
  color: var(--color-3);
  width: var(--p100);
  transition: width 2s;
}


/*  ***************** PROPIETATS DEL BANNER ******************* */
@keyframes banner {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.banner {
  position: absolute;
  width: var(--p100);
  overflow: hidden;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: var(--p100);
  box-sizing: content-box;
}

.banner__content {
  display: inline-block;
  white-space: nowrap;
  padding-right: var(--p100);
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: banner;
  animation-duration: 20s;
}

.banner__item {
  display: inline-block;
  top: 0;
  color: var(--color-1);
}


/*  ***************** PROPIETATS DE LES NOTICIES ******************* */
.container__module--news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: var(--center);
  text-align: var(--center);
  width: var(--p100);
  background-color: var(--color-2);
}

.links__link path {
  fill: var(--color-3);
}

.links__link path:hover {
  animation: 2s animation_path infinite;
}


@keyframes animation_path {
  from {
    transform: translateY(200px);
    fill: var(--color-1);
  }
  to {
    transform: translateY(0px);
    fill: var(--color-3);
    
  }
}

.info__preview {
  font-size: 12px;
}

.news {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-4);
  border: 3px solid var(--color-5);
  background-origin: border-box;
  width: 20%;
  height: 20%;
  margin: 1%;
}

.news:hover {
  color: var(--color-4);
  background-color: var(--color-5);
  border: 3px solid var(--color-4);
  transition: 1s;
}

.news:target {
  border-color: var(--color-1);
  color: var(--color-5);
  background: var(--gradient-2);
}

.news:nth-of-type(1) {
  flex-basis: var(--p100);
}

.news__image {
  max-width: var(--p100);
}


/*  ***************** PROPIETATS DELS DETALLS D'UNA NOTICIA ******************* */
.article {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-1);
  margin-top: 60px;
  padding-bottom: 80px;
  margin-bottom: 100px;
}

.article__options {
  background: var(--sprite) -249px -379px, var(--sprite) -374px -249px;
  background-repeat:  var(--no-repeat),  var(--no-repeat);
	width: 88px;
  height: 87px;
  /* position: absolute;
  bottom: 0, 0;
  left: 0, 100%; */
}

.article__image {
  width: var(--p100);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.article__content {
  position: relative;
  max-width: 65ch;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
  line-height: 1.5em;
}

.article__title {
  font-size: 40px;
  text-align: var(--center);
}

.article__header {
  font-weight: lighter;
  text-align: var(--center);
  margin-bottom: 40px;
}


/*  ***************** PROPIETATS DELS RANKINGS ******************* */
.container--rankings {
  display: flex;
  flex-wrap: wrap;
}

.container__ranking {
  width: var(--p100);
}
  
.container__module--ranking {
  line-height: 1.5em;
  margin: 0 auto;
  padding: 2em 0 3em;
  width: 90%;
  max-width: 2000px;
  overflow: hidden;
}
  
.ranking__table {
  border: 2px solid var(--color-3);
  border-collapse: collapse;
  width: var(--p100);
  background: var(--color-1);
  margin-bottom: 20px;
}

.table__caption {
  background-color: var(--color-5);
  color: var(--color-3);
  padding-top: 20px;
}
  

.table__header {
  background-color: var(--color-5);
  text-decoration: underline;
  white-space: nowrap;
}
  
.table__content, .table__header {
  padding: 1em 1.5em;
  text-align: left;
}
  
.table__body, .table__header {
  background-color: var(--color-2);
}
  
.table__body tr:nth-child(2n-1) {
  background-color: var(--color-4);
  transition: all .125s ease-in-out;
}
  
.table__body tr:hover {
  background-color: var(--color-2);
}


/*  ***************** MEDIA QUERIES ******************* */
@media screen and (max-width: 750px) {
/*  ***************** PROPIETATS DEL HEADER ******************* */
  .header__toggle {
    position: relative;
    clear: both;
    display: block;
    text-align: var(--center);
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: var(--p100);
    height: 40px;
    font-size: 18px;
    color: var(--color-5);
    background: var(--color-3);
    transition: all .1s linear;
  }

  .header__menu > li:nth-child(2n+1) {
    padding: 0em;
  }
  
  .header__toggle:hover {
    background: var(--color-5);
    color: var(--color-3);
  }

  .header__checkbox:checked + label .header__menu li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
  }

  .header__checkbox:checked + label .header__menu {
    height: 200px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: var(--center);
    height: 0px;
    transition: height .3s linear;
  }

  .header__menu li {
    display: flex;
    align-self: var(--center);
    width: var(--p100);
    opacity: 0;
    visibility: hidden;
  }
  
  .menu__link {
    width: var(--p100);
    text-align: var(--center);
    align-self: var(--center);
    align-content: var(--center);
  }


/*  ***************** PROPIETATS DEL FOOTER ******************* */
  .footer {
    /* position: relative; */
    bottom: 0;
    flex-direction: column;
    text-align: var(--center);
    align-self: var(--center);
    align-content: var(--center);
  }


/*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
  .container__module {
    display: unset;
  }

  .container__module > * {
    padding: 1em;
  }

  .module__info h3,
  .module__info ul,
  .container__name {
    text-align: var(--center);
  }


/*  ***************** PROPIETATS DE LES NOTICIES ******************* */
  .container__module--news {
    flex-direction: column;
  }

  .news {
    width: var(--p100);
  }


/*  ***************** PROPIETATS DELS DETALLS D'UNA NOTICIA ******************* */
  .article {
    width: var(--p100);
  }
  
  .article__content {
    line-height: 2em;
  }

  /*  ***************** PROPIETATS DELS RANKINGS ******************* */
  .rank, .up-down {
    display: none
  }
}

@media screen and (min-width: 750px) {
  .container__ranking--countries, .container__ranking--leagues {
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  .up-down {
      display: none
  }
}
