@import url(_variables.scss);

@mixin PalCentroYPaDentro{
    text-align: $center;
    align-self: $center;
    align-content: $center;
}

@mixin Display ($x: flex) {
    @debug $x;
    @if type-of($x) == "number" {
        @error "#{$x} es un nombre. Sols s'admiteixen strings. Ficant valor per defecte.";
        display: flex;
    } @else {
        display: $x;
    }
}

@mixin BGyColor ($bg, $color-text) {
    @warn "BGyColor no te valors per defecte";
    background-color: $bg;
    color: $color-text;
}