$p100: 100%; 
$color1: white;
$color2: rgb(224, 243, 161);
$color3: #1C140D;
$color4: #F2E9E1;
$color5: #CBE86B;
$gradient: linear-gradient(to bottom right, $color5, $color2);
$gradient2: linear-gradient(to top left, $color3, $color1);
$font-link: 'Merriweather Sans', sans-serif;
$fb-image: url(../images/footer/fb.png) no-repeat left;
$tw-image: url(../images/footer/tw.png) no-repeat left;
$ig-image: url(../images/footer/ig.png) no-repeat left;
$image-size: 25px;
$image-padding: 30px;
$image1: url(../images/options/like.png);
$image2: url(../images/options/comment.png);
$sprite: url(../images/options/sprite.png);
$no-repeat: no-repeat;
$center: center;
$padding: padding;
$margin: margin;
$max-width: max-width;
$container: container;