/*-------------------------------------------*\
   index.css
 
   Index
   - VARIABLES GLOBALS & VARIABLES FONTS    - Definim les variables que anem a utilitzar al fitxer i les fonts de la plantilla.
   - PROPIETATS ESTRUCTURA                  - Definim com s'estructurarà el cos de la pàgina.
   - PROPIETATS DEL HEADER                  - Estils per al menú.
   - PROPIETATS DEL BODY                    - Propietats d'on es mostrarà l'informació .
   - PROPIETATS DEL FOOTER                  - Estils del peu de la pàgina
   - PROPIETATS DEL FORMULARI DE CONTACTE   - Definim la vista del formulari
   - PROPIETATS DEL BANNER                  - Propietats del banner que podem reutilitzar a les distintes vistes. (Actualment sols està a 'news.html').
   - PROPIETATS DE LES NOTICIES             - Estils llistat de noticies.
   - PROPIETATS DELS DETALLS D'UNA NOTICIA  - Definim l'estètica d'una noticia.
   - MEDIA QUERIES                          - Media Queries per fer la pàgina 'responsive'.
   - PROPIETATS DELS RANKINGS               - Estils per a les taules i la disposició d'aquestes.
\*-------------------------------------------*/


/*  ***************** VARIABLES GLOBALS & VARIABLES FONTS ******************* */
// I MIXINS (Fique aquest comentari a banda ja que en el CSS compilat no apareixerpa els Mixins ni aquest comentari)

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@import url(_variables.scss);
@import url(_mixins.scss);

* {
    box-sizing: border-box;
}
  
@font-face {
    font-family: myFirstFont;
    src: url(../Oswald-Regular.ttf);
}

/*  ***************** PROPIETATS ESTRUCTURA ******************* */
body {
    @include Display(grid);
    grid-template-areas:"head"
                        "body"
                        "foot";
    font: {
        family: $font-link;
        size: 18px;
        weight: bold;
    }
    grid-template-rows: auto 1fr auto;
    background-image: url("../images/background/bg3-min.jpg");
}


/*  ***************** PROPIETATS DEL HEADER ******************* */
.header {
    grid-area:head;
    font-family: myFirstFont; 
    #{$margin}: auto;
    #{$max-width}: $p100;
    width: $p100;
    box-shadow: 5px -5px 10px 10px $color4;
    background-image: var(--gradient);
}
  
.header__checkbox, .header__toggle {
    @include Display(none);
}
  
.header__menu {
    #{$padding}: 0;
    #{$margin}: 0;
    #{$max-width}: $p100;
    height: 60px;
    @include Display();
    flex-direction: row;
    justify-content: space-around;
    align-items: $center;
    list-style-type: none;
}
  
.header__menu > li:nth-child(2n+1) {
    #{$padding}: 1em;
    background-color: $color4;
}
  
.menu__link {
    #{$padding}: 1em;
    font-size: 14px;
    color: $color3;
    text: {
        decoration: none;
        transform: uppercase;
    }
    // text-decoration:none;
    // text-transform:uppercase;
    transition:0.7s;
    &:hover {
        color: $color3;
        text-decoration: underline;
        font-size: 20px;
    }
}


/*  ***************** PROPIETATS DEL BODY ******************* */
.#{$container} {
    grid-area:body;
    #{$margin}-bottom: auto;
}
  
.#{$container}--form {
    #{$max-width}: $p100;
    #{$margin}: {
        left: auto;
        right: auto;
    }
    #{$padding}: 1em;
}
  
.#{$container}__name {
    @include BGyColor($color5, $color3);
    text: {
        align: left;
        transform: uppercase;
    }
    font-weight: 300;
    letter-spacing: 0.1em;
}


/*  ***************** PROPIETATS DEL FOOTER ******************* */
.footer {
    grid-area: foot;
    font-family: myFirstFont;
    @include Display();
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 5px 5px 10px 5px lightgray;
    background-image: $gradient;
    position: fixed;
    bottom: 0;
    width: $p100;
}
  
[class^="social"] {
    font-size: 14px;
}
  
[class*='fb'] {
    background: $fb-image;
    background-size: $image-size;
    #{$padding}-left: $image-padding;
}
  
[class*='tw'] {
    background: $tw-image;
    background-size: $image-size;
    #{$padding}-left: $image-padding;
}
  
[class*='ig'] {
    background: $ig-image;
    background-size: $image-size;
    #{$padding}-left: $image-padding;
}


/*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
.#{$container}__module {
    @include Display(grid);
    grid-template-columns: 1fr 2fr;
}
  
.#{$container}__module > * {
    #{$padding}: 2em;
}
  
/* ------------------- 
    INFORMACIO 
------------------- */
.module__info {
    background-color: $color5;
    text-align: left;
}
  
.info__data {
    list-style: none;
    #{$padding}: 0;
}
  
/* ---- 
    FORMULARI 
---- */
.#{$container}__form {
    @include Display(grid);
    background-color: $color2;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
  
.form__field {
    #{$margin}: 0;
}
  
.field__label {
    @include Display(block);
}
  
.form__field--full {
    grid-column: 1 / 3;
}
  
.field__input {
    width: $p100;
    #{$padding}: 1em;
    border: solid 1px $color3;
    border-radius: 4px;
}
  
.field__input--button {
    @include BGyColor($color3, $color4);
    width: 20%;
    border: 0;
    #{$margin}-top: 2em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
  
.field__input--button:hover {
    @include BGyColor($color5, $color3);
    border: 1px solid $color3;
    width: $p100;
    transition: width 2s;
}


/*  ***************** PROPIETATS DEL BANNER ******************* */
@keyframes banner {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
}
  
.banner {
    position: absolute;
    width: $p100;
    overflow: hidden;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    #{$padding}-left: $p100;
    box-sizing: content-box;
}
  
.banner__content {
    @include Display(inline-block);
    white-space: nowrap;
    #{$padding}-right: $p100;
    box-sizing: content-box;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: banner;
    animation-duration: 20s;
}
  
.banner__item {
    @include Display(inline-block);
    top: 0;
    color: $color1;
}

/*  ***************** PROPIETATS DE LES NOTICIES ******************* */
.#{$container}__module--news {
    @include Display();
    flex-direction: row;
    flex-wrap: wrap;
    #{$margin}-bottom: 200px;
}
  
.#{$container}__links {
    @include Display(grid);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: $center;
    text-align: $center;
    width: $p100;
    background-color: $color2;
}
  
.links__link {
    path {
        fill: $color3;
        &:hover {
            animation: 2s animation_path infinite;
        }
    }
}

  
  
@keyframes animation_path {
    from {
      transform: translateY(200px);
      fill: $color1;
    }
    to {
      transform: translateY(0px);
      fill: $color3;
      
    }
}
  
.info__preview {
    font-size: 12px;
}
  
.news {
    @include Display();
    flex-direction: column;
    flex-grow: 1;
    background-color: $color4;
    border: 3px solid $color5;
    background-origin: border-box;
    width: 20%;
    height: 20%;
    #{$margin}: 1%;
    &:hover {
        @include BGyColor($color5, $color4);
        border: 3px solid $color4;
        transition: 1s;
    }
    &:target {
        border-color: $color1;
        color: $color5;
        background: $gradient2;
    }
}
    
.news:nth-of-type(1) {
    flex-basis: $p100;
}
  
.news__image {
    #{$max-width}: $p100;
}
  
  
/*  ***************** PROPIETATS DELS DETALLS D'UNA NOTICIA ******************* */
.article {
    width: 80%;
    #{$margin}: {
        left: auto;
        right: auto;
        top: 60px;
        bottom: 300px;
    }
    background-color: $color1;
    #{$padding}-bottom: 80px;
    // background-image: $image2, $image1;
    // background-position: right bottom, left bottom;
    // background-repeat:  $no-repeat,  $no-repeat;
    // background-size: 100px;
    margin: 100px;
}

.article__options {
    background: var(--sprite) -249px -379px, var(--sprite) -374px -249px;
    background-repeat:  var(--no-repeat),  var(--no-repeat);
    background-size: 100px;
    width: 88px;
    height: 87px;
    // position: absolute;
    // bottom: 0, 0;
    // left: 0, 100%;
  }  
  
.article__image {
    width: $p100;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
  
.article__content {
    position: relative;
    #{$margin}: {
        left: 25px;
        right: 25px;
        bottom: 40px;
    }
    line-height: 1.5em;
}
  
.article__title {
    font-size: 40px;
    text-align: $center;
}
  
.article__header {
    font-weight: lighter;
    text-align: $center;
    #{$margin}-bottom: 40px;
}
  
  
/*  ***************** PROPIETATS DELS RANKINGS ******************* */
.#{$container}--rankings {
    @include Display();
    flex-wrap: wrap;
}
  
.#{$container}__ranking {
      width: $p100;
}
    
.#{$container}__module--ranking {
      line-height: 1.5em;
      #{$margin}: 0 auto;
      #{$padding}: 2em 0 3em;
      width: 90%;
      #{$max-width}: $p100;
      overflow: hidden;
}
    
.ranking__table {
    border: 2px solid $color3;
      border-collapse: collapse;
      width: $p100;
      background-color: $color1;
      margin-bottom: 20px;
}

.table__caption {
    background-color: $color5;
    color: $color3;
    padding-top: 20px;
}
  
.table__header {
      background-color: $color5;
      text-decoration: underline;
      white-space: nowrap;
}
    
.table__content, .table__header {
      #{$padding}: 1em 1.5em;
      text-align: left;
}
    
.table__body, .table__header {
      background-color: $color2;
}
    
.table__body tr:nth-child(2n-1) {
      background-color: $color4;
      transition: all .125s ease-in-out;
}
    
.table__body tr:hover {
      background-color: $color2;
}
    
.table__content.rank {
    background-color: $color2;
}
  
.#{$container}__ranking--teams {
      @extend .#{$container}__ranking;
      #{$margin}-bottom: 200px;
}
  
  
/*  ***************** MEDIA QUERIES ******************* */
@media screen and (max-width: 750px) {
    /*  ***************** PROPIETATS DEL HEADER ******************* */
    .header__toggle {
      @include BGyColor($color4, $color5);
      position: relative;
      clear: both;
      @include Display(block);
      text-align: $center;
      font-size: 14px;
      line-height: 40px;
      cursor: pointer;
      width: $p100;
      height: 40px;
      font-size: 18px;
      transition: all .1s linear;
    }
  
    .header__menu > li:nth-child(2n+1) {
      #{$padding}: 0em;
    }
    
    .header__toggle:hover {
      @include BGyColor($color5, $color3);
    }
  
    .header__checkbox:checked + label .header__menu li {
      opacity: 1;
      visibility: visible;
      transition: all .7s linear;
    }
  
    .header__checkbox:checked + label .header__menu {
      height: 200px;
    }
  
    .header__menu {
      @include Display();
      flex-direction: column;
      justify-content: space-around;
      align-items: $center;
      height: 0px;
      transition: height .3s linear;
    }
  
    .header__menu li {
      @include Display();
      align-self: $center;
      width: $p100;
      opacity: 0;
      visibility: hidden;
    }
    
    .menu__link {
      width: $p100;
      @include PalCentroYPaDentro()
    }
  
  
    /*  ***************** PROPIETATS DEL FOOTER ******************* */
    .footer {
      /* position: relative; */
      bottom: 0;
      flex-direction: column;
      @include PalCentroYPaDentro()
    }
  
  
    /*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
    .#{$container}__module {
        @include Display(unset);
    }
  
    .#{$container}__module > * {
      #{$padding}: 1em;
    }
  
    .module__info h3,
    .module__info ul,
    .#{$container}__name {
      text-align: $center;
    }
  
  
    /*  ***************** PROPIETATS DE LES NOTICIES I DELS DETALLS D'UNA NOTICIA ******************* */
    .#{$container}__module--news {
      flex-direction: column;
      #{$margin}-bottom: 40%;
    }
  
    .news, .article {
      width: $p100;
    }
    
    .article__content {
      line-height: 2em;
    }
  
    /*  ***************** PROPIETATS DELS RANKINGS ******************* */
    .rank, .up-down {
        @include Display(none);
    }
    .#{$container}__ranking--teams {
        @extend .#{$container}__ranking;
        #{$margin}-bottom: 250px;
    }
}
  
@media screen and (min-width: 750px) {
    .#{$container}__ranking--countries, .#{$container}__ranking--leagues {
      width: 50%;
    }
}
  
@media screen and (max-width: 950px) {
    .up-down {
        @include Display(none);
    }
}
  