@media print and (orientation: portrait) {
    /* Contenido del fichero print.css */
	@page {
		size: A4;
    }
    
	.header, .footer, .container__links, .field__input--button {
		display: none;
  }
        
  .portada {
		page: cover;
		content: url("../images/portada/portada.png");
		width: 100%;
    height: 100%;
    filter: grayscale(1);
	}
    
  .article {
		width: 100%;
  }
    
  .article__image {
      filter: grayscale(1);
  }
    
  .article__content {
		font-size: 25px;
		page-break-after: always;
	}
    
  .article__title {
		font-size: 50px;
		text-align: center;
	}
    
  .article__header {
		font-size: 25px;
	}
    
  .container__module--news {
		flex-direction: column;
	}
    
	.news {
		page-break-after: always;
		width: 100%;
		height: 40%;
	}

	.news__image {
		filter: grayscale(1);
	}
    
    /* *********************CONTACT FORM */
	.container__module {
		display: unset;
	}
    
  .info__data {
		li {
			display: inline;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
    
  .field__input {
		border: none;
		margin-bottom: 50px;
	}
    
  .container__form {
		display: block;
		width: 100%;
	}
    
  .ranking__table {
		page-break-before: always;
	}
}